<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
    <h1>Bem-vindo ao seu servicos</h1>
    <hr>


<!--Exibindo o array de objetos com uma tabela -->

<table class="table table-bordered table-hover">
    <tr class="table-dark"> 
        <th>Serviços</th>
        <th>Descrição</th>
        <th>Preço</th>
    </tr>
    <% servicos.forEach(function(servico){ %> 
    <tr> 
        <td><%= servico.servico %></td>
        <td><%= servico.descricao %></td>
        <td><%= servico.preco %></td>
    </tr>}
    <%})%>

</table>

    <p><a href="/">Voltar para a página inicial</a></p>

<%- include ('partials/footer.ejs') %>
